* {
  background-color: white !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  background-color: red;
}
.cards {
  width: 90%;
  height: fit-content;
  border: 1px solid black;
  margin: 20px;
  border-radius: 12px;
}
.cards:hover {
  transform: scale(1.05);
}

.card {
  margin: 3%;
  width: 90%;
  border-radius: 12px;
}
.card img {
  width: 99%;
  height: 300px;
  border-radius: 20px;
}
.cardinfo {
  padding-top: 10px;
}
.cardcategory {
  font-weight: 550;
  font-size: large;
  color: rgb(233, 64, 64);
}
.cardtitle {
  font-size: x-large;
  padding-top: 10px;
}
.btn1 {
  margin-top: 10px;
  height: 30px;
  width: fit-content;
  text-transform: capitalize;
  font-weight: 700;
  font-size: large;
  border-radius: 10px;
  background-color: rgb(12, 226, 155);
  color: rgb(17, 0, 255);
  border-style: none;
  cursor: pointer;
}
.btn1:hover {
  transform: scale(1.2);
}
